* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amiko', sans-serif;
    letter-spacing: 3px;
}

html, body {
    width: 100vw;
    background-color: #030a15;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
p {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}